.header-app {
    display: flex;
    width: 1278px;
    height: 56px;
    align-items: center;
}

.main-app {
    display: flex;
}

.header-app-title {
    font-weight: 500;
    font-size: 19px;
    margin-left: 27px;
}

.app-content {
    display: flex;
    flex-direction: column;
    height: 830px;
    overflow: auto;
}

.app-table {
    background-color: #eee;
}

.app-table-header {
    height: 34px;
    position: relative;
}

.TableDeTravail {
    margin: 20px 15px;
    background-color: #ffff;
}

.app-table-title {
    position: absolute;
    left: 1%;
    top: 50%;
    font-size: 16px;
    font-weight: 600;
    color: #798596;
}


.app-table-project {
    position: absolute;
    right: 15%;
    top: 50%;
    font-size: 16px;
    font-weight: 600;
    color: #798596;
}

.projectName {
    position: absolute;
    right: 4%;
    top: 50%;
    font-size: 16px;
    color: #0080ff;
}

.dropdown {
    position: relative;
}

.dropbtn {
    cursor: pointer;
    position: relative;
}

.icon-dropdown {
    position: absolute;
    top: 15%;
    right: -39%;

}

.dropdown-content {
    position: absolute;
    left: -137%;
    top: 113%;
    width: 240px;
    height: 262px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;

}

.TableDeTaches {
    margin: 20px 15px;
    background-color: #ffff;
}

.taches-title {
    display: flex;
    justify-content: space-between;
}

.title1 {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #798596;
}

.title2 {
    margin-right: 386px;
    font-size: 16px;
    font-weight: 600;
    color: #798596;
}

.box-project {
    height: 184px;
    background-color: #ffff;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;

}

.icons-counting {
    display: flex;
    justify-content: space-around;
}

.box-project-content {
    width: 70%;
    display: flex;
    padding-left: 50px;
    height: 50%;
    align-items: center;
}

.counting {
    display: flex;
    width: 35px;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    margin-right: 18px;
}

.bg-icon-bsBox {
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #e6eff8;
}

.icon-bsBox {
    font-size: 45px;
    color: #0080ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-project-button .modal-header_button {
    text-align: right;
    margin-top: 10px;
}

.project-counting {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    position: relative;

}

.project-counting div {
    display: flex;
    align-items: center;

}

.icon-etoile {
    position: absolute;
    top: 7%;
    font-size: 22px;
    margin-left: 10px;
}

.box-project-version-date {
    width: 100%;
    box-sizing: border-box;
    padding: 19px 20px 4px 59px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.taches-notes {
    display: flex;
}

.list-taches {
    width: 60%;
}

.list-notes {
    width: 40%;
}

.list-notes p {
    font-size: 14px;
    margin: 0;
}

.list-notes-contents {
    margin: 20px 15px;
    height: 507px;
    background-color: #ffff;
    overflow: auto;
}

.vide-notification {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-container {
    border-bottom: 1px solid rgb(233, 227, 227);
    padding: 10px 0;
    margin: 0 18px;
}

.note-content {
    display: flex;
    align-items: center;
}

.note-content:hover {
    background-color: #eee;
}

.icon-note-user {
    color: #798596;
    font-size: 25px;
    margin-right: 8px;
}

.note-createur {
    margin-right: 5px;
}

.note-action {
    white-space: nowrap;
    width: auto;
    margin-right: 5px;
    font-weight: 600;
}

.note-time {
    display: inline-block;
    width: 255px;
    padding-left: 33px;
    color: #798596;
}

.note-project_name {
    color: #798596;
}

.note-desc {
    cursor: pointer;
    color: #0080ff;
    max-width: 237px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
}

.note-time-name {
    display: flex;
    align-items: center;
    font-size: 12px !important;
}

.bleu-character {
    color: #0080ff;
}